// Fonts
$font-family-body = "Meslo LG", "Menlo", serif;
$font-family-mono = "Meslo LG", "Menlo", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 12px
$line-height = 2

// Colors
$color-background = #fff
$color-link = #7404a4
$color-text = #000
$color-light = #6b847b
$color-lightest = #6b847b
$color-accent = #2bbc8a
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
