#footer
  padding-top: 10px
  padding-bottom: 10px
  color: #666
  font-size: 11px
  max-width: 700px
  width: 100%
  margin: 0 auto 1rem auto
  vertical-align: top
  text-align: center
  li
    display: block
    vertical-align: middle
    margin-right: 10px
    a
      margin-right: 10px
  a
    color: #666
  a:hover
    color: #999
  .footer-left
    line-height: 45px
    vertical-align: middle

@media (min-width: 39rem)
  #footer
    padding-top: 20px
    padding-bottom: 20px
    .footer-left
      float: left
      line-height: 45px
    .footer-right
      float: right
    li
      display: inline-block
      border-right: 1px solid #4a4a4a
    li:last-child
      border-right: none